.App {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerTukiComponents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.TukiChild {
    background-color: greenyellow;
}
.navbarContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.imageCart {
    width: 50px;
    height: 50px;
}
